# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Data & Models - AUTORISÉS (Petits fichiers)
*.csv
*.zip
*.parquet
!models/
!models/*.pkl
# *.h5
# *.joblib
joblib
data/
Src/Data/
artifacts/

# Deliverables (TROP GROS)
deliverables/

# MLflow
mlruns/
mlruns.db
mlflow.db

# Logs & System
*.log
logs/
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Environment
.env
